/* For Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body{
    height: 420vh;
}

.naeyong{
    height: 300vh;
    background: linear-gradient(to bottom, black, rgb(0, 122, 175), rgb(255, 158, 216));
}

.main h1{
    background-image: linear-gradient(100deg,rgb(0, 255, 229),rgb(255, 0, 144));
    color: transparent;
    -webkit-background-clip: text;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
.top{
    background-color: none;
    height: 70px;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.main{
    color: white;
    margin-top: 120px;
    text-align: center;
    height: 100px;
    width: 100%;
}
.link{
    font-size: 30px;
    font-weight: 10;
    background-color: white;
    color: black;
    border: none;
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    cursor: pointer;
}
#h:hover{
    background: linear-gradient(to right,  #00ffe9 0%,#ff0084 100%);
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}
.link a{
    text-decoration-line: none;
    color: black;
}

.bottom{
    padding-bottom: 10px;
    color: white;
    justify-content: space-evenly;
    align-items: flex-end;
    display: flex;
    position: fixed;
    clear: left;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: 0px;
}

button,
button::after {
    -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    -o-transition: all 0.5s;
        transition: all 0.5s;
}

button::before,
button::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.dev {
    color: white;
    font-weight: 10;
    text-decoration: none;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    letter-spacing: none;
}
.dev:hover {
    color: rgb(157, 211, 255);
    animation: k 1s both;
    font-weight: 1000;
    letter-spacing: 2px
}

#k{
    color: white;
    font-weight: 10;
    text-decoration: none;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    letter-spacing: none;
}
#k:hover{
    transform: scale(1.5);
    color: rgb(157, 211, 255);
    animation: k 1s both;
    font-weight: 1000;
    letter-spacing: 2px;
}

#j{
    color: white;
    font-weight: 10;
    text-decoration: none;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    letter-spacing: none;
}
#j:hover{
    transform: scale(1.3);
    color: rgb(255, 200, 0);
    font-weight: 1000;
    letter-spacing: 2px
}

@keyframes k {
    0% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-15px) rotate(-2deg) scale(1.1);
    }
    30% {
        transform: translateX(7.5px) rotate(4deg);
    }
    45% {
        transform: translateX(-7.5px) rotate(-0.6deg);
    }
    60% {
        transform: translateX(4.5px) rotate(2.4deg);
    }
    75% {
        transform: translateX(-3px) rotate(-0.1deg);
    }
}

.image{
    position: absolute;
    height: 80px;
    margin-left: 20px;
}

.main h1{
    font-size: 55px;
}

.main img{
    margin-bottom: 10px;
    height: 140px;
}

.db{
    height: 20px;
    margin-left: 110px;
    position: absolute;
}

.egg{
    text-decoration: none;
    color: rgb(255, 158, 216);
    background: rgb(221, 136, 187);
}

.naeyong{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.explanation{
    height: 4000px;
    background: linear-gradient(to bottom, black, rgb(54, 57, 63), rgb(54, 57, 63), rgb(54, 57, 63));
    background-color: rgb(0, 122, 175);
}
  
.animate {
    color: white;
    position: sticky;
    top: 45vh;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 40px;
    width: 100%;
    height: 90px;
    text-align: center;
    margin-left: 100px;
}

.animate img{
    height: 500px;
}
  
.trigger {
    width: 100%;
    height: 10px;
    margin-bottom: 900px;
}

.in{
    font-size: 20px;
}

.out{
    font-weight: bold;
    letter-spacing: 9px;
    margin-bottom: 40px;
    background-image: linear-gradient(100deg,rgb(0, 255, 229),rgb(255, 0, 144));
    color: transparent;
    -webkit-background-clip: text;
    
}

.one{
    margin-left: 20px;
    text-align: start;
}


@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
#tracking-in-expand:hover{
    animation: tracking-in-expand 0.7s both;
}

@media(max-width:800px){
    .top{
        background-color: black;
        color: white;
        display: flex;
        align-items: flex-end;
        justify-content: start;
        align-items: center;
        height: 60px;
    }
    .main{
        color: white;
        margin-top: 60px;
        text-align: center;
        height: 100px;
        width: 100%;
    }
    .main h1{
        font-size: 30px;
        margin-top: 10px;
    }
    .main img{
        margin-top: 80px;
        height: 70px;
    }
    .image{
        position: absolute;
        height: 60px;
        margin-top: 0px;
        margin-left: 20px;
    }
    .link{
        font-size: 18px;
        font-weight: 10;
        background-color: white;
        color: black;
        border: none;
        margin-top: 30px;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 100px;
        cursor: pointer;
    }
    .db{
        height: 18px;
        margin-top: 0px;
        margin-left: 90px;
        position: absolute;
    }
    .bottom{
        line-height: 30px;
        padding-bottom: 10px;
        color: white;
        text-align: center;
        display: block;
        position: absolute;
        clear: left;
        margin-bottom: 20px;
        float: left;
        width: 100%;
        height: 150px;
        left: 0;
        bottom: 0px;
    }
    .animate img{
        display: none;
    }
    .animate {
        font-size: 25px;
        margin-left: 30px;
    }
    .in{
        font-size: 15px;
    }
}