@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

h1{
    top: 100px;
    position: absolute;
    left: auto;
    right: 20px;
    font-family: sans-serif;
    color: white;
    font-size: 100px;
    letter-spacing: 30px;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-color: white;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 50px;
    top: 280px;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 30px;
    height: 80px;
    width: 200px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover{
    transform: scale(1.2);
    letter-spacing: 5px;
}
*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

p{
    position: absolute;
    top: 370px;
    right: 900px;
}